<% provide(:title, "О проекте | Люблю Крым") %>

<% content_for(:seo_tags) do %>  
  <meta property="og:type"        content="website" />
  <meta property="og:site_name"   content="Люблю Крым - ilovekrim.ru">
  <meta property="og:locale"      content="ru_RU">
<% end %>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline crumbs-short" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    О проекте
  </div>
</div>

<div class="container my-5">


  <div class="resources-title mb-5">		
		<h2>О проекте</h2>		
	</div>

  <div class="row">
    <div class="col-lg-8">
      <div class="bg-white border rounded p-3">
        &emsp;Ilovekrim.ru - это информационно-туристический портал для поиска аренды жилья, активного отдыха,
        развлечений и услуг в Крыму.<br>
        &emsp;Здесь предоставляется разнообразная информация интересная и необходимая отдыхающим - аренда жилья, реклама активного отдыха - всевозможные морские, воздушные, конные прогулки и другие экскурсии. А также - услуги и сервисы которые можно получить в указанном городе (например доставка еды или вызов такси). И интересные места и достопримечательности в городе. В общем - куда сходить и чем заняться чтобы не было скучно.
      </div>    
    </div>  
  </div>





</div>




