<% provide(:title, "Контакты | Люблю Крым") %>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline crumbs-short" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    Контакты
  </div>
</div>

<div class="container my-5">


  <div class="resources-title mb-5">		
		<h2>Контакты</h2>		
	</div>

  <div class="row">
    <div class="col-lg-8">
      <div class="bg-white border rounded p-3">
        По всем вопросам, связанным с работой сайта вы можете: <br>
         &emsp;написать нам:&emsp;<a href="mailto:ilove-krim@mail.ru">ilove-krim@mail.ru</a><br>
         &emsp;или позвонить:&emsp;+7(978)265-19-47 <span class="text-muted">(каждый день с 9-00 до 18-00)</span>
      </div>    
    </div>  
  </div>

  
















</div>

