<% provide(:title, "Люблю Крым | Главная") %>

<div class="container">

  <h1>Main#home</h1>
  <p>Find me in app/views/main/home.html.erb</p>

  <br>
  <br>

  <div class="top_line">
    <div class="container p-0"> 
      <i class="icon_set_2_icon-109"></i>Коктебель&emsp;
      <a href="tel:+79780010573"><i class="icon_set_2_icon-104"></i>+7(978) 814 55 96&nbsp;</a>
      &emsp;
      <a href="mailto:sashabuch1970@gmail.com"><i class="far fa-envelope"></i>&nbsp;sashabuch1970@gmail.com</a>          
    </div>
  </div> 

  <br>
  <br>

 <hr>
  <div class="row">
    <div title="Code: 0xe8003" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-102"></i> <span class="i-name">icon_set_2_icon-102</span><span class="i-code">0xe8003</span></div>
    <div title="Code: 0xe8013" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-103"></i> <span class="i-name">icon_set_2_icon-103</span><span class="i-code">0xe8013</span></div>
    <div title="Code: 0xe8023" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-104"></i> <span class="i-name">icon_set_2_icon-104</span><span class="i-code">0xe8023</span></div>
    <div title="Code: 0xe8033" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-105"></i> <span class="i-name">icon_set_2_icon-105</span><span class="i-code">0xe8033</span></div>
  </div>
  <div class="row">
    <div title="Code: 0xe8043" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-106"></i> <span class="i-name">icon_set_2_icon-106</span><span class="i-code">0xe8043</span></div>
    <div title="Code: 0xe8053" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-107"></i> <span class="i-name">icon_set_2_icon-107</span><span class="i-code">0xe8053</span></div>
    <div title="Code: 0xe8063" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-108"></i> <span class="i-name">icon_set_2_icon-108</span><span class="i-code">0xe8063</span></div>
    <div title="Code: 0xe8073" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-109"></i> <span class="i-name">icon_set_2_icon-109</span><span class="i-code">0xe8073</span></div>
  </div>
  <div class="row">
    <div title="Code: 0xe8083" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-110"></i> <span class="i-name">icon_set_2_icon-110</span><span class="i-code">0xe8083</span></div>
    <div title="Code: 0xe8093" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-111"></i> <span class="i-name">icon_set_2_icon-111</span><span class="i-code">0xe8093</span></div>
    <div title="Code: 0xe80a3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-112"></i> <span class="i-name">icon_set_2_icon-112</span><span class="i-code">0xe80a3</span></div>
    <div title="Code: 0xe8103" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-118"></i> <span class="i-name">icon_set_2_icon-118</span><span class="i-code">0xe8103</span></div>
  </div>
  <div class="row">
    <div title="Code: 0xe80c3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-114"></i> <span class="i-name">icon_set_2_icon-114</span><span class="i-code">0xe80c3</span></div>
    <div title="Code: 0xe80d3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-115"></i> <span class="i-name">icon_set_2_icon-115</span><span class="i-code">0xe80d3</span></div>
    <div title="Code: 0xe80e3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-116"></i> <span class="i-name">icon_set_2_icon-116</span><span class="i-code">0xe80e3</span></div>
    <div title="Code: 0xe80f3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-117"></i> <span class="i-name">icon_set_2_icon-117</span><span class="i-code">0xe80f3</span></div>
  </div>


</div>

<div class="white_bg">
	<div class="container margin_60">
		<div class="main_title">
			<h2>Other <span>Popular</span> tours</h2>
			<p>
				Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
			</p>
		</div>
		<div class="row add_bottom_45">
			<div class="col-lg-4 other_tours">
				<ul>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Eiffel<span class="other_tours_price">$42</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-30"></i>Shopping tour<span class="other_tours_price">$35</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Versailles tour<span class="other_tours_price">$20</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Montparnasse skyline<span class="other_tours_price">$26</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Pompidue<span class="other_tours_price">$26</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Senna River tour<span class="other_tours_price">$32</span></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 other_tours">
				<ul>
					<li><a href="#"><i class="icon_set_1_icon-1"></i>Notredame<span class="other_tours_price">$48</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-4"></i>Lafaiette<span class="other_tours_price">$55</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-30"></i>Trocadero<span class="other_tours_price">$76</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Open Bus tour<span class="other_tours_price">$55</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-30"></i>Louvre museum<span class="other_tours_price">$24</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Madlene Cathedral<span class="other_tours_price">$24</span></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 other_tours">
				<ul>
					<li><a href="#"><i class="icon_set_1_icon-37"></i>Montparnasse<span class="other_tours_price">$36</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-1"></i>D'Orsey museum<span class="other_tours_price">$28</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-50"></i>Gioconda Louvre musuem<span class="other_tours_price">$44</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Tour Eiffel<span class="other_tours_price">$56</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-50"></i>Ladefanse<span class="other_tours_price">$16</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Notredame<span class="other_tours_price">$26</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- End row -->

		<div class="banner colored">
			<h4>Discover our Top tours <span>from $34</span></h4>
			<p>
				Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
			</p>
			<a href="single_tour.html" class="btn_1 white">Read more</a>
		</div>
		
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Sightseen tour</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Transfer</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Tour guide</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Hotel</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
		</div>
		<!-- End row -->


		
	</div>
	<!-- End container -->
</div>
<!-- End white_bg -->

<section class="promo_full">
	<div class="promo_full_wp">
		<div>
			<h3>ОТДЫХАЙТЕ С НАМИ!</h3>
			<p>
				Жильё и активный отдых в Крыму без посредников
			</p>
			<a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="far fa-play-circle"></i></a>
		</div>
	</div>
</section>
<!-- End section -->


