<% provide(:title, "Главная") %>

<div class="container">

  <h1>Main#home</h1>
  <p>Find me in app/views/main/home.html.erb</p>

  <br>
  <br>

  <div class="top_line">
    <div class="container p-0"> 
      <i class="icon_set_2_icon-109"></i>Коктебель&emsp;
      <a href="tel:+79780010573"><i class="icon_set_2_icon-104"></i>+7(978) 814 55 96&nbsp;</a>
      &emsp;
      <a href="mailto:sashabuch1970@gmail.com"><i class="far fa-envelope"></i>&nbsp;sashabuch1970@gmail.com</a>          
    </div>
  </div> 

  <br>
  <br>

 <hr>
  <div class="row">
    <div title="Code: 0xe8003" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-102"></i> <span class="i-name">icon_set_2_icon-102</span><span class="i-code">0xe8003</span></div>
    <div title="Code: 0xe8013" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-103"></i> <span class="i-name">icon_set_2_icon-103</span><span class="i-code">0xe8013</span></div>
    <div title="Code: 0xe8023" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-104"></i> <span class="i-name">icon_set_2_icon-104</span><span class="i-code">0xe8023</span></div>
    <div title="Code: 0xe8033" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-105"></i> <span class="i-name">icon_set_2_icon-105</span><span class="i-code">0xe8033</span></div>
  </div>
  <div class="row">
    <div title="Code: 0xe8043" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-106"></i> <span class="i-name">icon_set_2_icon-106</span><span class="i-code">0xe8043</span></div>
    <div title="Code: 0xe8053" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-107"></i> <span class="i-name">icon_set_2_icon-107</span><span class="i-code">0xe8053</span></div>
    <div title="Code: 0xe8063" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-108"></i> <span class="i-name">icon_set_2_icon-108</span><span class="i-code">0xe8063</span></div>
    <div title="Code: 0xe8073" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-109"></i> <span class="i-name">icon_set_2_icon-109</span><span class="i-code">0xe8073</span></div>
  </div>
  <div class="row">
    <div title="Code: 0xe8083" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-110"></i> <span class="i-name">icon_set_2_icon-110</span><span class="i-code">0xe8083</span></div>
    <div title="Code: 0xe8093" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-111"></i> <span class="i-name">icon_set_2_icon-111</span><span class="i-code">0xe8093</span></div>
    <div title="Code: 0xe80a3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-112"></i> <span class="i-name">icon_set_2_icon-112</span><span class="i-code">0xe80a3</span></div>
    <div title="Code: 0xe8103" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-118"></i> <span class="i-name">icon_set_2_icon-118</span><span class="i-code">0xe8103</span></div>
  </div>
  <div class="row">
    <div title="Code: 0xe80c3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-114"></i> <span class="i-name">icon_set_2_icon-114</span><span class="i-code">0xe80c3</span></div>
    <div title="Code: 0xe80d3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-115"></i> <span class="i-name">icon_set_2_icon-115</span><span class="i-code">0xe80d3</span></div>
    <div title="Code: 0xe80e3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-116"></i> <span class="i-name">icon_set_2_icon-116</span><span class="i-code">0xe80e3</span></div>
    <div title="Code: 0xe80f3" class="the-icons  col-md-3 col-sm-3"><i class="icon_set_2_icon-117"></i> <span class="i-name">icon_set_2_icon-117</span><span class="i-code">0xe80f3</span></div>
  </div>


</div>
