<% provide(:title, "Люблю Крым - жильё и активный отдых в Крыму без посредников") %>


<div class="container pt-2 d-flex justify-content-center">		
		<h1 style="color: #666">Жильё и активный отдых в Крыму без посредников</h1>
</div>

<div class="bg-white shadow py-3"><!-- towns -->
	<div class="container">

    <div class="resources-title pt-3">
      <h2>Выбирайте куда поехать и планируйте свой отдых</h2>		
    </div>

		<div class="row g-2">     

      <div class="col-lg-8">
        <a href="/towns/1">
          <div class="home-town">
            <img alt="Феодосия" src="/uploads/town/1/avatar/ФЕО_ПАНОРАМА_обрезаная-для-города.jpg" />
            <div class="home-town-link">
              Феодосия
            </div>
          </div>
        </a>       
      </div>

      <div class="col-lg-4">
        <a href="/towns/2">
          <div class="home-town">
            <img alt="Коктебель" src="/uploads/town/2/avatar/%D0%9A%D0%BE%D0%BA%D1%82%D0%B5%D0%B1%D0%B5%D0%BB%D1%8C_%D0%B4%D0%BB%D1%8F-WEBa.jpg" />
            <div class="home-town-link">
              Коктебель
            </div>
          </div>
        </a>       
      </div>

      <div class="col-lg-4">
        <a href="/towns/3">
          <div class="home-town">
            <img alt="Орджоникидзе" src="/uploads/town/3/avatar/%D0%9F%D0%B0%D0%BD%D0%BE%D1%80%D0%B0%D0%BC%D0%B0_%D0%9E%D0%A0%D0%94%D0%96%D0%9E_2.jpg" />
            <div class="home-town-link">
              Орджоникидзе
            </div>
          </div>
        </a>       
      </div>

      <div class="col-lg-4">
        <a href="/towns/4">
          <div class="home-town">
            <img alt="Береговое" src="/uploads/town/4/avatar/%D0%B1%D0%B5%D1%80%D0%B5%D0%B3%D0%BE%D0%B2%D0%BE%D0%B5_1.jpg" />
            <div class="home-town-link">
              Береговое
            </div>
          </div>
        </a>       
      </div>

      <div class="col-lg-4">
        <a href="/towns/5">
          <div class="home-town">
            <img alt="Приморский" src="/uploads/town/5/avatar/%D0%BF%D1%80%D0%B8%D0%BC%D0%BE%D1%80%D1%81%D0%BA%D0%B8%D0%B9_1.jpg" />
            <div class="home-town-link">
              Приморский
            </div>
          </div>
        </a>       
      </div>
					
		</div>    

	</div>	
</div><!-- END towns -->


<div class="row align-items-center py-3 banner-bg" style="background-image: url('<%= asset_path("ct/home_bg_2.jpg") %>');">
  <div class="col-lg-9 text-center">
    <div class="fs-4 fw-bold lh-1 mb-3">Получайте кэшбэк 5% при бронировании жилья и активного отдыха</div>
    <p class="col-lg-10 fs-6">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>
  <div class="col-lg-3 text-center">
    <button class="btn btn-lg btn-primary">Подробнее</button>
  </div>
</div>

<br><br>







