<% provide(:title, "Люблю Крым - жильё и активный отдых в Крыму без посредников") %>

<div class="container">

	<div class="container py-3 border">
    <div class="row align-items-center border py-3 banner-bg"
		style="background-image: url('<%= asset_path("ct/home_bg_2.jpg") %>');">
      <div class="col-lg-9 text-center border">
        <div class="fs-4 fw-bold lh-1 mb-3">Получайте кэшбэк 5% при бронировании жилья и активного отдыха</div>
        <p class="col-lg-10 fs-6 border">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-lg-3 text-center border">
        <button class="btn btn-lg btn-primary">Подробнее</button>
      </div>
    </div>
  </div>

  <br>
  <br>

	<div class="container px-4 pt-5">
    <div class="row align-items-center g-lg-5 py-5 border">
      <div class="col-lg-9 text-center text-lg-start border">
        <div class="fs-4 fw-bold lh-1 mb-3">Получайте кэшбэк 5% при бронировании жилья и активного отдыха</div>
        <p class="col-lg-10 fs-6 border">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-lg-3 col-md-10 mx-auto border">
        <button class="btn btn-lg btn-primary">Sign up</button>
      </div>
    </div>
  </div>

  <br>
  <br>




</div>






