<% provide(:title, "Политика конфиденциальности") %>

<div class="container">
		<h1>Политика конфиденциальности персональных данных</h1>
		<p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в 
		отношении всей информации, которую сайт <strong>Информационный туристический портал</strong>, (далее – Люблю Крым!) расположенный на 
		доменном имени <strong>ilovekrim.ru</strong> (а также его субдоменах), может получить о Пользователе во время использования 
		сайта ilovekrim.ru (а также его субдоменов), его программ и его продуктов.</p>
</div>	