/*============================================================================================*/
/* 1.  Icons */
/*============================================================================================*/
/* Fontello */

@font-face {
	font-family: 'fontello';
	src: font-url('fontello/font/fontello.eot?32974303');
	src: font-url('fontello/font/fontello.eot?32974303#iefix') format("embedded-opentype"),
				font-url('fontello/font/fontello.woff?32974303') format("woff"),
				font-url('fontello/font/fontello.ttf?32974303') format("truetype"),
				font-url('fontello/font/fontello.svg?32974303#fontello') format("svg");
	font-weight: 400;
	font-style: normal
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;

	/* Better Font Rendering (from icon_moon) =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e809";
}
.icon-heart-empty:before {
  content: "\e80a";
}
.icon-star:before {
  content: "\e80b";
}
.icon-star-empty:before {
  content: "\e80c";
}
.icon-star-half:before {
  content: "\e80d";
}
.icon-star-half-alt:before {
  content: "\e80e";
}
.icon-down-open:before {
  content: "\e896";
}
.icon-left-open:before {
  content: "\e897";
}
.icon-right-open:before {
  content: "\e898";
}
.icon-up-open:before {
  content: "\e899";
}
.icon-angle-left:before {
  content: "\e89a";
}
.icon-angle-right:before {
  content: "\e89b";
}
.icon-angle-up:before {
  content: "\e89c";
}
.icon-angle-down:before {
  content: "\e89d";
}
.icon-down-big:before {
  content: "\e8aa";
}
.icon-left-big:before {
  content: "\e8ab";
}
.icon-right-big:before {
  content: "\e8ac";
}
.icon-up-big:before {
  content: "\e8ad";
}
.icon-mobile:before {
  content: "\e8d3";
}
.icon-rouble:before {
  content: "\e920";
}
.icon-sort:before {
  content: "\e924";
}
.icon-sort-down:before {
  content: "\e925";
}
.icon-sort-up:before {
  content: "\e926";
}
.icon-coffee:before {
  content: "\e931";
}
.icon-food:before {
  content: "\e932";
}
.icon-beer:before {
  content: "\e933";
}
.icon-user-md:before {
  content: "\e934";
}
.icon-stethoscope:before {
  content: "\e935";
}
.icon-ambulance:before {
  content: "\e936";
}
.icon-medkit:before {
  content: "\e937";
}
.icon-h-sigh:before {
  content: "\e938";
}
.icon-hospital:before {
  content: "\e939";
}
.icon-extinguisher:before {
  content: "\e943";
}
.icon-heart-1:before {
  content: "\e97b";
}
.icon-heart-empty-1:before {
  content: "\e97c";
}
.icon-user-1:before {
  content: "\e97f";
}
.icon-picture-1:before {
  content: "\e983";
}
.icon-map:before {
  content: "\e9b8";
}
.icon-tools:before {
  content: "\e9cb";
}
.icon-down-open-1:before {
  content: "\e9e8";
}
.icon-left-open-1:before {
  content: "\e9e9";
}
.icon-right-open-1:before {
  content: "\e9ea";
}
.icon-up-open-1:before {
  content: "\e9eb";
}
.icon-down-open-mini:before {
  content: "\e9ec";
}
.icon-left-open-mini:before {
  content: "\e9ed";
}
.icon-right-open-mini:before {
  content: "\e9ee";
}
.icon-up-open-mini:before {
  content: "\e9ef";
}
.icon-down-open-big:before {
  content: "\e9f0";
}
.icon-left-open-big:before {
  content: "\e9f1";
}
.icon-right-open-big:before {
  content: "\e9f2";
}
.icon-up-open-big:before {
  content: "\e9f3";
}
.icon-down-1:before {
  content: "\e9f4";
}
.icon-left-1:before {
  content: "\e9f5";
}
.icon-right-1:before {
  content: "\e9f6";
}
.icon-up-1:before {
  content: "\e9f7";
}
.icon-down-dir-1:before {
  content: "\e9f8";
}
.icon-left-dir-1:before {
  content: "\e9f9";
}
.icon-right-dir-1:before {
  content: "\e9fa";
}
.icon-up-dir-1:before {
  content: "\e9fb";
}
.icon-mouse:before {
  content: "\ea2f";
}
.icon-credit-card-1:before {
  content: "\ea44";
}
.icon-heart-2:before {
  content: "\ea96";
}
.icon-heart-filled:before {
  content: "\ea97";
}
.icon-star-2:before {
  content: "\ea98";
}
.icon-star-filled:before {
  content: "\ea99";
}
.icon-user-outline:before {
  content: "\ea9a";
}
.icon-user-2:before {
  content: "\ea9b";
}
.icon-user-add-outline:before {
  content: "\ea9e";
}
.icon-user-add-1:before {
  content: "\ea9f";
}
.icon-th-1:before {
  content: "\eaaa";
}
.icon-location-outline:before {
  content: "\eaf4";
}
.icon-coffee-1:before {
  content: "\eb9b";
}
.icon-beer-1:before {
  content: "\eb9c";
}
.icon-award-1:before {
  content: "\ec35";
}
.icon-award-empty:before {
  content: "\ec36";
}
.icon-user-4:before {
  content: "\ec60";
}
.icon-user-woman:before {
  content: "\ec61";
}
.icon-user-pair:before {
  content: "\ec62";
}
.icon-star-5:before {
  content: "\ecbb";
}
.icon-star-empty-2:before {
  content: "\ecbc";
}
.icon-user-5:before {
  content: "\ecbf";
}
.icon-user-male:before {
  content: "\ecc0";
}
.icon-user-8:before {
  content: "\ee7e";
}
.icon-calendar-8:before {
  content: "\eedd";
}
.icon-down-hand-1:before {
  content: "\eeff";
}
.icon-left-hand-1:before {
  content: "\ef00";
}
.icon-right-hand-1:before {
  content: "\ef01";
}
.icon-up-hand-1:before {
  content: "\ef02";
}
.icon-guidedog:before {
  content: "\ef5b";
}
.icon-accessibility:before {
  content: "\ef5c";
}
.icon-search-7:before {
  content: "\ee43";
}
.icon-mail-6:before {
  content: "\ee44";
}
.icon-heart-7:before {
  content: "\ee45";
}
.icon-star-7:before {
  content: "\ee46";
}
.icon-camera-6:before {
  content: "\ee49";
}
.icon-photo:before {
  content: "\ee4a";
}
.icon-attach-6:before {
  content: "\ee5c";
}
.icon-lock-7:before {
  content: "\ee5d";
}
.icon-eye-6:before {
  content: "\ee5e";
}
.icon-tag-6:before {
  content: "\ee5f";
}
.icon-thumbs-up-4:before {
  content: "\ee60";
}
.icon-pencil-6:before {
  content: "\ee61";
}
.icon-comment-6:before {
  content: "\ee62";
}
.icon-location-6:before {
  content: "\ee63";
}
.icon-cup-1:before {
  content: "\ee64";
}
.icon-trash-7:before {
  content: "\ee65";
}
.icon-cog-5:before {
  content: "\ee4c";
}
.icon-params:before {
  content: "\ee4d";
}
.icon-mobile-6:before {
  content: "\ee67";
}
.icon-paper-plane-2:before {
  content: "\ee6c";
}
.icon-key-4:before {
  content: "\ee71";
}
.icon-truck-1:before {
  content: "\ee55";
}
.icon-money-2:before {
  content: "\ee56";
}
.icon-food-1:before {
  content: "\ee57";
}
.icon-diamond:before {
  content: "\ee59";
}
.icon-wallet:before {
  content: "\ee5b";
}
.icon-attach-5:before {
  content: "\ee23";
}

.animate-spin {
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	display: inline-block
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-o-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-ms-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}


/* Icon_set_1 */

@font-face {
	font-family: 'icon_set_1';
	src: font-url('fontello/font/icon_set_1.eot?55361665');
	src: font-url('fontello/font/icon_set_1.eot?55361665#iefix') format("embedded-opentype"),
				font-url('fontello/font/icon_set_1.woff?55361665') format("woff"),
				font-url('fontello/font/icon_set_1.ttf?55361665') format("truetype"),
				font-url('fontello/font/icon_set_1.svg?55361665#icon_set_1') format("svg");
	font-weight: 400;
	font-style: normal
}

[class^="icon_set_1_"]:before,
[class*="icon_set_1_"]:before {
	font-family: "icon_set_1";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em
}

.icon_set_1_icon-1:before {
	content: '\21'
}

.icon_set_1_icon-2:before {
	content: '\22'
}

.icon_set_1_icon-3:before {
	content: '\23'
}

.icon_set_1_icon-4:before {
	content: '\24'
}

.icon_set_1_icon-5:before {
	content: '\25'
}

.icon_set_1_icon-6:before {
	content: '\26'
}

.icon_set_1_icon-7:before {
	content: '\27'
}

.icon_set_1_icon-8:before {
	content: '\28'
}

.icon_set_1_icon-9:before {
	content: '\29'
}

.icon_set_1_icon-10:before {
	content: '\2a'
}

.icon_set_1_icon-11:before {
	content: '\2b'
}

.icon_set_1_icon-12:before {
	content: '\2c'
}

.icon_set_1_icon-13:before {
	content: '\2d'
}

.icon_set_1_icon-14:before {
	content: '\2e'
}

.icon_set_1_icon-15:before {
	content: '\2f'
}

.icon_set_1_icon-16:before {
	content: '\30'
}

.icon_set_1_icon-17:before {
	content: '\31'
}

.icon_set_1_icon-18:before {
	content: '\32'
}

.icon_set_1_icon-19:before {
	content: '\33'
}

.icon_set_1_icon-20:before {
	content: '\34'
}

.icon_set_1_icon-21:before {
	content: '\3a'
}

.icon_set_1_icon-22:before {
	content: '\35'
}

.icon_set_1_icon-23:before {
	content: '\36'
}

.icon_set_1_icon-24:before {
	content: '\37'
}

.icon_set_1_icon-25:before {
	content: '\38'
}

.icon_set_1_icon-26:before {
	content: '\39'
}

.icon_set_1_icon-27:before {
	content: '\3a';
	content: \3b
}

.icon_set_1_icon-28:before {
	content: '\3c'
}

.icon_set_1_icon-29:before {
	content: '\3d'
}

.icon_set_1_icon-30:before {
	content: '\3e'
}

.icon_set_1_icon-31:before {
	content: '\3f'
}

.icon_set_1_icon-32:before {
	content: '\40'
}

.icon_set_1_icon-33:before {
	content: '\41'
}

.icon_set_1_icon-34:before {
	content: '\42'
}

.icon_set_1_icon-35:before {
	content: '\43'
}

.icon_set_1_icon-36:before {
	content: '\44'
}

.icon_set_1_icon-37:before {
	content: '\45'
}

.icon_set_1_icon-38:before {
	content: '\46'
}

.icon_set_1_icon-39:before {
	content: '\47'
}

.icon_set_1_icon-40:before {
	content: '\48'
}

.icon_set_1_icon-41:before {
	content: '\49'
}

.icon_set_1_icon-42:before {
	content: '\4a'
}

.icon_set_1_icon-43:before {
	content: '\4b'
}

.icon_set_1_icon-44:before {
	content: '\4c'
}

.icon_set_1_icon-45:before {
	content: '\4d'
}

.icon_set_1_icon-46:before {
	content: '\4e'
}

.icon_set_1_icon-47:before {
	content: '\4f'
}

.icon_set_1_icon-48:before {
	content: '\50'
}

.icon_set_1_icon-49:before {
	content: '\51'
}

.icon_set_1_icon-50:before {
	content: '\52'
}

.icon_set_1_icon-51:before {
	content: '\53'
}

.icon_set_1_icon-52:before {
	content: '\54'
}

.icon_set_1_icon-53:before {
	content: '\55'
}

.icon_set_1_icon-54:before {
	content: '\56'
}

.icon_set_1_icon-55:before {
	content: '\57'
}

.icon_set_1_icon-56:before {
	content: '\58'
}

.icon_set_1_icon-57:before {
	content: '\59'
}

.icon_set_1_icon-58:before {
	content: '\5a'
}

.icon_set_1_icon-59:before {
	content: '\5b'
}

.icon_set_1_icon-60:before {
	content: '\5c'
}

.icon_set_1_icon-61:before {
	content: '\5d'
}

.icon_set_1_icon-62:before {
	content: '\5e'
}

.icon_set_1_icon-63:before {
	content: '\5f'
}

.icon_set_1_icon-64:before {
	content: '\60'
}

.icon_set_1_icon-65:before {
	content: '\61'
}

.icon_set_1_icon-66:before {
	content: '\62'
}

.icon_set_1_icon-67:before {
	content: '\63'
}

.icon_set_1_icon-68:before {
	content: '\64'
}

.icon_set_1_icon-69:before {
	content: '\65'
}

.icon_set_1_icon-70:before {
	content: '\66'
}

.icon_set_1_icon-71:before {
	content: '\67'
}

.icon_set_1_icon-72:before {
	content: '\68'
}

.icon_set_1_icon-73:before {
	content: '\69'
}

.icon_set_1_icon-74:before {
	content: '\6a'
}

.icon_set_1_icon-75:before {
	content: '\6b'
}

.icon_set_1_icon-76:before {
	content: '\6c'
}

.icon_set_1_icon-77:before {
	content: '\6d'
}

.icon_set_1_icon-78:before {
	content: '\6e'
}

.icon_set_1_icon-79:before {
	content: '\6f'
}

.icon_set_1_icon-80:before {
	content: '\70'
}

.icon_set_1_icon-81:before {
	content: '\71'
}

.icon_set_1_icon-82:before {
	content: '\72'
}

.icon_set_1_icon-83:before {
	content: '\73'
}

.icon_set_1_icon-84:before {
	content: '\74'
}

.icon_set_1_icon-85:before {
	content: '\75'
}

.icon_set_1_icon-86:before {
	content: '\76'
}

.icon_set_1_icon-87:before {
	content: '\77'
}

.icon_set_1_icon-88:before {
	content: '\78'
}

.icon_set_1_icon-89:before {
	content: '\79'
}

.icon_set_1_icon-90:before {
	content: '\7a'
}

.icon_set_1_icon-91:before {
	content: '\7b'
}

.icon_set_1_icon-92:before {
	content: '\7c'
}

.icon_set_1_icon-93:before {
	content: '\7d'
}

.icon_set_1_icon-94:before {
	content: '\7e'
}

.icon_set_1_icon-95:before {
	content: '\e800'
}

.icon_set_1_icon-96:before {
	content: '\e801'
}

.icon_set_1_icon-97:before {
	content: '\e802'
}

.icon_set_1_icon-98:before {
	content: '\e803'
}

.icon_set_1_icon-99:before {
	content: '\e804'
}

.icon_set_1_icon-100:before {
	content: '\e805'
}


/* Icon_set_2 - убрали*/

/* Icon_restaurant */

@font-face {
	font-family: 'Glyphter';
	src: font-url('icon_restaurant/fonts/Glyphter.eot');
	src: font-url('icon_restaurant/fonts/Glyphter.eot?#iefix') format("embedded-opentype"),
				font-url('icon_restaurant/fonts/Glyphter.woff') format("woff"),
				font-url('icon_restaurant/fonts/Glyphter.ttf') format("truetype"),
				font-url('icon_restaurant/fonts/Glyphter.svg#Glyphter') format("svg");
	font-weight: 400;
	font-style: normal
}

[class*='icon_set_3']:before {
	display: inline-block;
	font-family: 'Glyphter';
	font-style: normal;
	font-weight: 400;
	margin-left: 5px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon_set_3_restaurant-1:before {
	content: '\0041'
}

.icon_set_3_restaurant-2:before {
	content: '\0042'
}

.icon_set_3_restaurant-3:before {
	content: '\0043'
}

.icon_set_3_restaurant-4:before {
	content: '\0044'
}

.icon_set_3_restaurant-5:before {
	content: '\0045'
}

.icon_set_3_restaurant-6:before {
	content: '\0046'
}

.icon_set_3_restaurant-7:before {
	content: '\0047'
}

.icon_set_3_restaurant-8:before {
	content: '\0048'
}

.icon_set_3_restaurant-9:before {
	content: '\0049'
}

.icon_set_3_restaurant-10:before {
	content: '\004A'
}

.icon_set_3_restaurant-11:before {
	content: '\004B'
}


/* from old_icons */
.glyph {
	float: left;
	text-align: center;
	padding: .75em;
	margin: .4em 1.5em .75em 0;
	width: 6em;
	text-shadow: none
}

.glyph_big {
	font-size: 128px;
	color: #59c5dc;
	float: left;
	margin-right: 20px
}

.glyph div {
	padding-bottom: 10px
}

.glyph input {
	font-family: consolas, monospace;
	font-size: 12px;
	width: 100%;
	text-align: center;
	border: 0;
	box-shadow: 0 0 0 1px #ccc;
	padding: .2em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

.centered {
	margin-left: auto;
	margin-right: auto
}

.glyph .fs1 {
	font-size: 2em
}


