<% provide(:title, 'Восстановление пароля') %>

<h1 class="h3 mt-5 mb-2 text-center">Восстановление пароля</h1>

<%= form_with(url: password_resets_path, scope: :password_reset,
              local: true, html: {class: "form-signin"}) do |f|%>

  <div class="mb-3 text-center">Введите почтовый ящик который указвали при регистрации</div>
  <%= f.email_field :email, id:"inputEmail1", class:"form-control", placeholder: "Email" %>
  <br>

  <%= link_to "Назад", :back, class: "btn btn-outline-secondary w-100" %>&nbsp;

  <%= f.submit "Отправить",class:"btn btn-lg btn-primary w-100"%>

<% end %>