<% provide(:title, "Профиль пользователя") %>

<div class="container">

<h1>Профиль пользователя - users#show</h1>
<h3><%= @user.email %></h3>
<% if @user.name %><%= @user.name %><% end %>

<br><br>

</div>


