/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/

/*-------- 1.1 Typography --------*/
/*--------
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {background:#f9f9f9; font-size:13px; line-height:20px; font-family:"Montserrat", Arial, sans-serif; color:#555; font-weight: 400;}
--------*/

/* VARIABLES */
$color-pink: #e04f67; /* #e04f67 - span ih headers h1,h2 */
$color-link: #e14d67; /* #e14d67 - link */
/* END VARIABLES */


h1, h2, h4, h5, h6 {color:#333;}
h3 {color: #222;}
h3 {font-size:22px;}
h4 {font-size: 18px;}

h1, h2 {margin-top: 20px;margin-bottom: 10px;}
h3 {margin-top: 10px;margin-bottom: 5px;}

.main_title {text-align:center; font-size:16px; margin-bottom:30px;}
.main_title h2 {text-transform: uppercase; font-weight:700; letter-spacing:-1px; font-size:30px; margin-bottom:0;margin-top:0; }
.main_title p {font-weight:300; font-size:20px; color: #555;}

h2 span, h3 span, h4 span, h5 span, h6 span{color:$color-pink;}

.box_style_1 h3.inner{ 
	margin:-30px -30px 20px -30px; 
	background-color:#565a5c; 
	padding:10px 20px 10px 18px;
	color:#fff; 
	border:1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*General links color*/
a {
	/* color: $color-link;text-decoration: none; */
	text-decoration: none;	
	outline:none;
	-webkit-transition: all 0.1s ease;transition: all 0.1s ease; /* was 0.2s */
}
a:hover,a:focus {
	/* color: #111; */
	text-decoration: none; outline:none;
}

p {margin: 0 0 20px 0;}

.nopadding {
	margin: 0 !important;
	padding: 0 !important;
}

/*
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
}
*/



/*-------- 1.3 Structure --------*/

/* Header */

header{
	width:100%;
	/* position:fixed; */
	left:0;
	top:0;
	/* z-index:99999; */
	padding:5px 0 0 0;
}

#top_line{
	/* background-color:#fff; */
	color: #888;
	height:28px;	
	border-bottom:1px solid rgba(129, 91, 91, 0.2);
	font-size:12px;
	visibility:visible;
	opacity:1;
	/* margin-bottom:5px; */
	position:relative;
	/* z-index:999999; */

	a {
		text-decoration: none;
	}

}
ul#top_links{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
a#access_link, a#wishlist_link{
	position:relative;
	display:inline-block;
	padding-left:16px;
}
#access_link:before, #wishlist_link:before{
	font-style: normal;
 	font-weight: normal;
 	font-family: "fontello";
  font-size:14px;
	position:absolute;
	left:0;
	top:0;
}

#wishlist_link:before{content: "\e809";}
#access_link:before{content: "\e97f";}

ul#top_links li{
	display:inline-block;
	border-left: 1px solid rgba(0,0,0,0.1);
	margin-right:5px;
	padding-left:8px;
	position:relative;
}
ul#top_links li:first-child{
	border-left: none;
	padding-left:0;
}

ul#top_links a{
	color:#777;
}
ul#top_links a:hover{
	color: #ff4500;
}

/*============================================================================================*/
/* 2.  CONTENT  */
/*============================================================================================*/

/*-------- 2.1 Home --------*/
.feature_home {
	padding: 30px;
	position: relative;
	background: #fff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.feature_home h3 {
	font-size: 20px;
}

.feature_home i {
	margin: auto;
	margin-bottom: 20px;
	display: block;
	width: 120px;
	height: 120px;
	line-height: 110px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px dashed #ccc;
	font-size: 62px;
	color: #6dcff6;
}

.other_tours ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}

.other_tours ul li a {
	border-bottom: 1px solid #ededed;
	padding: 5px 0 10px 0;
	display: block;
	color: #555;
}

.other_tours ul li a:hover {
	background-color: #f9f9f9;
	color: $color-pink;
}


.other_tours ul li a i {
	font-size: 22px;
	margin-right: 5px;
	margin-left: 2px;
	position: relative;
	top: 5px;
	color: #555;
}

.other_tours_price {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	color: #888;
}

/* Home 2 */
#hero {
	position: relative;
	height: 600px;
	background: #4d536d url(../img/slide_hero.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	width: 100%;
	font-size: 16px;
	display: table;
	z-index: 99;
	text-align: center;
	text-transform: uppercase;
}

.intro_title {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.intro_title h3 {
	font-size: 45px;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.intro_title h3 strong span {
	color: #fff;
}

/*-------- 2.3 Single tour page --------*/
#Img_carousel .sp-selected-thumbnail {
	border-bottom: 2px solid $color-pink;
}

.parallax-content-2 {
	position: absolute;
	left: 0; 
	bottom: 0;
	z-index: 600;
	padding: 25px 0 20px 0;
	color: #fff;
	font-size: 13px;
	/*
	background: -webkit-linear-gradient(top,transparent,#000);
    background: linear-gradient(to bottom,transparent,#000);
	*/
	background: linear-gradient(to bottom, transparent, #014a6e);
	width: 100%;
}

.parallax-content-2 div h1 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.parallax-content-2 .rating {
	font-size: 14px;
}

#price_single_main {
	text-align: right;
	padding-top: 25px;
	font-weight: normal;
}

#price_single_main span {
	font-size: 60px;
	color: #3CF;
}

#price_single_main sup {
	font-size: 22px;
	position: relative;
	top: -25px;
}

#price_single {
	background-color: #e74c3c;
	color: #fff;
	font-size: 36px;
	margin: -15px;
	padding: 20px 15px 10px 15px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: 15px;
}

#price_single small {
	font-size: 12px;
}

#single_tour_feat ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	border-bottom: 2px solid #555;
	margin-bottom: 30px;
}

#single_tour_feat ul li {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px 20px 10px;
	white-space: nowrap;
}

#single_tour_feat ul li:last-child {
	margin-right: 0;
}

#single_tour_feat ul li i {
	font-size: 36px;
	display: block;
	margin-bottom: 10px;
}

#single_tour_desc h3 {
	font-size: 22px;
	margin-top: 5px;
}

#single_tour_desc h4 {
	line-height: 20px;
	font-size: 18px;
}

#map {
	width: 100%;
	height: 450px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.table td, .table th {
    border-top: none;
}
.table.table_summary td {
	border-top: 1px solid #ededed;
	width: 50%;
}

.table.table_summary tr.total {
	color: $color-pink;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
}

.review_strip_single {
	position: relative;
	padding: 30px 0 20px 0;
	margin: 30px 0 25px 0;
	border-bottom: 1px solid #ddd;
}

.review_strip_single.last {
	margin-bottom: 0;
	border-bottom: 0;
}

.review_strip_single img {
	top: -15px;
	position: absolute;
	left: 0;
	border: 4px solid #fff;
}

.review_strip_single h4 {
	font-size: 18px;
	margin: -12px 0 35px 90px;
	padding: 0;
}

.review_strip_single small {
	float: right;
	font-size: 12px;
	margin-top: -10px;
	font-style: italic;
}

.review_strip_single .rating {
	font-size: 16px;
}

.normal_price_single {
	font-size: 18px;
	text-decoration: line-through;
}

.price_in {
	font-size: 42px;
	color: #e74c3c;
	border-bottom: 1px solid #ededed;
	text-align: center;
	padding-top: 30px;
	background-color: #fff8e5;
	margin: -20px -20px 20px -20px;
}

.price_in small {
	font-size: 11px;
	color: #999;
	display: block;
	margin-bottom: 20px;
	margin-top: 4px;
}

.price_in p {
	padding: 0;
	margin: 0;
}

.normal_price_in {
	display: block;
	text-decoration: line-through;
	color: #999;
	font-size: 20px;
	margin-top: 10px;
}

.price_in sup {
	font-size: 22px;
	position: relative;
	top: -10px;
}

.table.options_booking td i {
	font-size: 26px;
}

.table.options_booking td {
	vertical-align: middle;
}

/*Update version 1.1*/
#general_rating {
	font-size: 18px;
	margin: 10px 0 20px 0;
}

#general_rating .rating {
	display: inline;
}

#rating_summary ul {
	list-style: none;
	margin: 0 0 -5px 0;
	padding: 0;
}

#rating_summary ul li {
	margin-bottom: 5px;
}

#rating_summary ul li .rating {
	display: inline-block;
	font-size: 14px;
	float: right;
}
/*End Update version 1.1*/

/*-------- 2.4 Cart - Payment - Confirmation --------*/

/*-------- 2.5 About --------*/
.feature {
	padding: 30px 30px 20px 120px;
	position: relative;
	background: #fff;
	margin-bottom: 30px;
	color: #888;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.feature i {
	margin: 0;
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 0;
	margin: 0;
	width: 65px;
	height: 65px;
	line-height: 60px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px dashed #ccc;
	font-size: 34px;
	color: #6dcff6;
}

.features-bg {
	position: relative;
	min-height: 400px;
	background: url(../img/features-intro-01.jpg) no-repeat center center;
	background-size: cover;
}

.features-img {
	width: 100%;
	height: 400px;
	text-align: center;
	line-height: 400px;
}

.features-content {
	position: relative;
	padding: 11% 100px 10% 100px;
	height: 400px;
	background-color: $color-pink;
	color: #fff;
	font-size: 14px;
}

.features-content h3 {
	font-family: "Gochi Hand", cursive;
	color: #fff;
	font-size: 32px;
	line-height: 34px;
	text-transform: uppercase;
}

.review_strip {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	padding: 30px 20px 20px 30px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.review_strip img {
	top: -15px;
	position: absolute;
	left: 25px;
	border: 4px solid #fff;
}

.review_strip h4 {
	font-size: 18px;
	margin: -10px 0 35px 80px;
	padding: 0;
}

.review_strip p {
	margin-bottom: 10px;
}

.review_strip .rating {
	font-size: 16px;
}

.rating {
	font-size: 18px;
}

.rating small {
	font-size: 12px;
	color: #CCC;
}

.rating .voted {
	color: #F90;
}

/*-------- 2.6 Contact us --------*/
#map_contact {
	width: 100%;
	height: 450px;
}

#directions {
	background-color: $color-pink;
	padding: 22px 0;
}

ul#contact-info {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

.tape {
	position: absolute;
	left: 0;
	top: -20px;
	height: 45px;
	width: 100%;
	background: url(../img/tape.png) no-repeat center top;
	display: block;
}

.loader {
	margin-left: 5px;
	position: absolute;
}

.error_message {
	color: #F33;
	font-weight: 600;
	margin-bottom: 4px;
}

/*-------- 2.7 Login --------*/
#hero.login {
	height: auto;
	display: block;
	text-transform: none;
	font-size: 12px;
	background: url(../img/bg_login.jpg) no-repeat center center;
	background-size: cover;
}

#login {
	margin: 170px 0 60px;
	color: #333;
	text-align: left;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
	padding: 30px;
}

#pass-info {
	width: 98.5%;
	margin-bottom: 15px;
	color: #829CBD;
	text-align: center;
	font: 12px/25px Arial, Helvetica, sans-serif;
}

#pass-info.weakpass {
	border: 1px solid #FF9191;
	background: #FFC7C7;
	color: #94546E;
	text-shadow: 1px 1px 1px #FFF;
}

#pass-info.stillweakpass {
	border: 1px solid #FBB;
	background: #FDD;
	color: #945870;
	text-shadow: 1px 1px 1px #FFF;
}

#pass-info.goodpass {
	border: 1px solid #C4EEC8;
	background: #E4FFE4;
	color: #51926E;
	text-shadow: 1px 1px 1px #FFF;
}

#pass-info.strongpass {
	border: 1px solid #6ED66E;
	background: #79F079;
	color: #348F34;
	text-shadow: 1px 1px 1px #FFF;
}

#pass-info.vrystrongpass {
	border: 1px solid #379137;
	background: #48B448;
	color: #CDFFCD;
	text-shadow: 1px 1px 1px #296429;
}

/*-------- 2.8 Tour guide page --------*/
#tour_guide {
	text-align: center;
}

.img-circle.styled {
	border: 5px solid #fff;
}

#filters {
	padding: 20px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ededed;
	margin: 0 -15px 30px -15px;
}

a.bt_filters {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 6px 8px;
	color: #888;
	display: inline-block;
}

/*-------- 2.9 Tranfers --------*/
.transfer_container {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.transfer_container .transfer_title {
	padding: 15px;
	position: relative;
}

.transfer_container .transfer_title .rating {
	font-size: 14px;
	margin-left: -3px;
}

.transfer_container .transfer_title h3 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}

a.btn_collapse {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
}

/*-------- 3.0 Hotels --------*/
.score span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	;
	width: 35px;
	height: 35px;
	border: 2px solid #999;
	line-height: 32px;
	font-size: 13px;
	font-weight: bold;
	color: #999;
	margin-left: 5px;
	text-align: center;
}

.score {
	float: right;
	font-size: 11px;
	margin-top: 5px;
}

#score_detail span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	;
	width: 45px;
	height: 45px;
	border: 2px solid #555;
	line-height: 42px;
	font-size: 14px;
	font-weight: bold;
	color: #555;
	margin-right: 5px;
	text-align: center;
}

#score_detail {
	font-size: 14px;
	margin-bottom: 15px;
}

#score_detail small {
	color: #999;
}

.hotel_container {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.hotel_container .hotel_title {
	padding: 15px;
	position: relative;
}

.hotel_container .hotel_title .rating {
	font-size: 14px;
	margin-left: -3px;
}

.hotel_container .hotel_title h3 {
	margin: 0 0 3px 0;
	font-size: 14px;
	text-transform: uppercase;
}

.hotel_container .score span {
	color: #fff;
	margin-right: 5px;
	text-align: center;
	border: 2px solid #fff;
}

.hotel_container .score {
	font-size: 11px;
	margin-top: 5px;
	position: absolute;
	bottom: 30px;
	left: 5px;
	z-index: 9;
}

.hotel_container a .score {
	color: #fff;
}

ul.list_icons {
	margin: 0 0 020px 0;
	padding: 0;
	list-style: none;
}

ul.list_icons li{
	margin-bottom: 10px;
}

ul.list_icons li:last-child{
	margin-bottom: 0;
}

ul.list_icons li i {
	font-size: 16px;
}

.modal-dialog {
	margin-top: 80px;
}

#price_single_main.hotel {
	padding-top: 40px;
}

.hotel_container .short_info.hotel {
	padding-left: 10px;
}

/*-------- 3.1 Wishlist --------*/
.wishlist_close {
	position: absolute;
	top: 10px;
	right: 25px;
	width: 30px;
	height: 30px;
	z-index: 2;
	font-size: 20px;
	line-height: 25px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	color: #F66 !important;
}

.wishlist_close:before {
	font-style: normal;
	font-weight: normal;
	font-family: "icon_set_1";
	font-size: 30px;
	content: "\72";
	color: #F66;
	position: absolute;
	left: 0;
	top: 3px;
}

/*-------- 3.2 Map listing --------*/
.marker_info_2 {
	width: 240px;
	height: 340px;
	border-radius: 3px;
	text-align: center;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	z-index: 9999999;
	font-family: "Montserrat", Arial, sans-serif;
}

.marker_info_2 img {
	display: block;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.marker_info_2 h3 {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.marker_info_2 span {
	display: block;
	padding: 0px 20px;
	font-size: 12px;
	line-height: 16px;
	color: #7a7f82;
	margin-bottom: 15px;
}

.marker_info_2:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(255, 255, 255, 0.9);
	border-width: 10px;
	margin-top: -10px;
}

.full-height {
	height: 100%;
}

.row-height {
	height: 100%;
	min-height: 100%;
}

.map-right {
	height: 100%;
	min-height: 100%;
	padding: 0px;
}

.content-left {
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	padding-top: 115px;
}

.view_on_map {
	position: relative;
	cursor: pointer;
	padding: 8px 10px 0 30px;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -8px;
	display: block;
	border-top: 1px solid #ededed;
}

.view_on_map:before {
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	font-size: 14px;
	content: "\ecea";
	color: $color-pink;
	position: absolute;
	left: 15px;
	top: 7px;
}

/*============================================================================================*/
/* 3.  COMMON  */
/*============================================================================================*/

/* Error validate style */
label.error {
	font-size: 11px;
	position: absolute;
	top: -15px;
	right: -30px;
	z-index: 99;
	height: 25px;
	line-height: 25px;
	background-color: #e34f4f;
	color: #fff;
	font-weight: normal;
	padding: 0 6px;
}

label.error:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 6px 6px 0;
	border-color: transparent #e34f4f;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -6px;
	left: 20%;
}

/* Scroll top button */
#toTop {
	position: fixed;
	right: 0;
	opacity: 0;
	visibility: hidden;
	bottom: 25px;
	margin: 0 25px 0 0;
	z-index: 9999;
	transition: 0.35s;
	transform: scale(0.7);
	width: 46px;
	height: 46px;
	background-color: rgba(0,0,0,.6);
	opacity: 1;
    transition: all 0.3s;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
	color: #fff;
	cursor: pointer;
}

#toTop.visible {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

#toTop:after {
	content: "\e899";
	font-family: "fontello";
	position: relative;
	display: block;
	top: 50%;
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
}

/*Background colors*/
.white_bg {
	background-color: #fff
}

/*Spacing*/
.add_bottom_15 {
	margin-bottom: 15px;
}

.add_bottom_30 {
	margin-bottom: 30px;
}

.add_bottom_45 {
	margin-bottom: 45px;
}

.add_bottom_60 {
	margin-bottom: 60px;
}

.nomargin_top {
	margin-top: 0;
}

/*List*/
ul.list_ok {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 1.3;
}

ul.list_ok li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
}

ul.list_ok li:last-child {
	margin-bottom: 0;
}

ul.list_ok li:before {
	font-style: normal;
	font-weight: bold;
	font-family: "icon_set_1";
	font-size: 14px;
	content: "\6c";
	color: $color-pink;
	position: absolute;
	left: 0;
	top: 0;
}

ul.list_order {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
}

ul.list_order li {
	position: relative;
	padding-left: 40px;
	margin-bottom: 10px;
}

ul.list_order li span {
	background-color: $color-pink;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

/** Pagination **/
.page-link {
    color: #555;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #555;
    border-color: #555;
}

.page-item .page-link:hover {
    background-color: #555;
    border-color: #555;
	color: #fff;
}

/* Drop down select footer */
.styled-select select {
	background: transparent;
	width: 115%;
	padding: 7px 5px 5px 15px;
	border: 0;
	border-radius: 0;
	height: 37px;
	margin: 0;
	font-weight: 400;
	-moz-appearance: window;
	-webkit-appearance: none;
	cursor: pointer;
	color: #999;
}

.styled-select {
	width: 100%;
	overflow: hidden;
	height: 40px;
	background: #434343 url(asset_path("ct/down_arrow_select.png")) no-repeat right center;
	border: none;
	margin-bottom: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.styled-select select::-ms-expand {
	display: none;
}

.styled-select select:focus {
	outline: none;
}

/* Drop down select filters */
.styled-select-filters select {
	background: transparent;
	width: 115%;
	padding: 7px 5px 5px 10px;
	border: 0;
	border-radius: 0;
	height: 31px;
	margin: 0;
	font-weight: 400;
	-moz-appearance: window;
	-webkit-appearance: none;
	cursor: pointer;
	font-size: 12px;
	color: #888;
}

.styled-select-filters {
	width: 100%;
	overflow: hidden;
	height: 34px;
	background: #fff url(asset_path("ct/down_arrow_select_filters.png")) no-repeat right center;
	border: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	display: block;
}

.styled-select-filters select::-ms-expand {
	display: none;
}

.styled-select-filters select:focus {
	outline: none;
}

/* Margin tools */
.margin_60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.margin_30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin_30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Parallax bg */
.parallax-window {
	min-height: 270px;
	background: transparent;
	position: relative;
}

.parallax-content-1 {
	display: table;
	width: 100%;
	height: 270px;
	background: rgba(0, 0, 0, 0.6);
}

.parallax-content-1 > div {
	display: table-cell;
	padding: 0 15%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.parallax-content-1 div h1,
.parallax-content-1 div h3 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.parallax-content-1 div h1 {
	margin-bottom: 0;
	padding-top: 40px;
}

.parallax-content-1 div h1:before,
.parallax-content-1 div h1:after {
	display: inline-block;
	width: 50px;
	height: 1px;
	content: '';
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
}

.parallax-content-1 div h1:before {
	margin-right: 10px;
}

.parallax-content-1 div h1:after {
	margin-left: 10px;
}

.parallax-content-1 div a i {
	color: #fff;
	opacity: 0.5;
	font-size: 72px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.parallax-content-1 div a:hover i {
	opacity: 1;
}

/* Tours boxes*/
.tour_container {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	margin: 0;
	margin-bottom: 30px;
}

.img_container {
	position: relative;
	/* overflow: hidden; */
}

.tour_container .tour_title {
	padding: 15px;
	position: relative;
}

.tour_container .tour_title .rating {
	font-size: 14px;
	margin-left: -3px;
}

.tour_container .tour_title h3 {
	margin: 0 0 3px 0;
	font-size: 14px;
	text-transform: uppercase;
}

.wishlist {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.wishlist a {
	color: #888;
	cursor: pointer;
	display: block;
}

.strip_all_tour_list .wishlist a {
	color: #fff;
}

.wishlist:before {
	font-style: normal;
	font-weight: normal;
	font-family: "icon_set_1";
	font-size: 40px;
	content: "\72";
	color: #888;
	position: absolute;
	left: 0;
	top: 4px;
}

.strip_all_tour_list .wishlist {
	position: absolute;
	top: 10px;
	right: 25px;
	width: 30px;
	height: 30px;
	z-index: 2;
	font-size: 20px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: #fff !important;
}

.strip_all_tour_list .wishlist:before {
	font-style: normal;
	font-weight: normal;
	font-family: "icon_set_1";
	font-size: 30px;
	content: "\72";
	color: #fff;
	position: absolute;
	left: 0;
	top: 3px;
}

/*
.img_container a:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.img_container img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
}

*/
.short_info {
	position: absolute;
	left: 0;
	bottom: 0;
	background: -webkit-linear-gradient(top,transparent,#000);
    background: linear-gradient(to bottom,transparent,#000);
	width: 100%;
	padding: 45px 10px 8px 5px;
	color: #fff;
}

.short_info i {
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
}

.short_info .price {
	float: right;
	font-size: 28px;
	font-weight: bold;
	display: inline-block;
}

.short_info .price sup {
	font-size: 18px;
	position: relative;
	top: -5px;
}

/* Ribbons */
.ribbon {
	position: absolute;
	top: 0;
	left: -1px;
	width: 78px;
	height: 78px;
	z-index: 1;
}

.ribbon.popular {
	background: url(asset_path("ct/ribbon_popular.png")) no-repeat 0 0;
}

.ribbon.top_rated {
	background: url(asset_path("ct/ribbon_top_rated.png")) no-repeat 0 0;
}

/* Tooltips */
.tooltip_styled {
	display: inline;
	position: relative;
	z-index: 999;
}

.tooltip-item {
	cursor: pointer;
	display: inline-block;
}

.tooltip-item::after {
	content: '';
	position: absolute;
	width: 300px;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip_styled:hover .tooltip-item::after {
	pointer-events: auto;
}

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 300px;
	left: 50%;
	margin: 0 0 20px -150px;
	bottom: 100%;
	text-align: left;
	line-height: 20px;
	display: block;
	padding: 15px;
	font-size: 12px;
	color: #fff;
	box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
	background: #333;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-2 .tooltip-content {
	-webkit-transform-origin: 50% calc(100% + 10px);
	transform-origin: 50% calc(100% + 10px);
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.tooltip-effect-3 .tooltip-content {
	-webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
	transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-4 .tooltip-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7, 0.3, 1);
	transform: scale3d(0.7, 0.3, 1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.tooltip_styled:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.tooltip_styled.tooltip-effect-2:hover .tooltip-content {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #333;
	border-width: 10px;
	margin-left: -10px;
}

.tooltip-content .label {
	margin-left: 10px;
}

.tooltip-content i {
	font-size: 20px !important;
	top: 3px !important;
	left: -3px !important;
	position: relative;
}

.tooltip-content h4 {
	display: block;
	margin: 0 0 10px 0;
	line-height: 14px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.tooltip-content a {
	font-weight: bold;
}

/* Tooltip flip */
.tooltip_flip {
	position: relative;
}

.tooltip_flip::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 100%;
	pointer-events: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip_flip:hover::after {
	pointer-events: auto;
}

.tooltip-content-flip {
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	left: -40%;
	bottom: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	margin-bottom: 7px;
	cursor: default;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.strip_all_tour_list .tooltip-content-flip {
	left: -65%;
}

.tooltip-effect-1 .tooltip-content-flip {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.tooltip_flip:hover .tooltip-content-flip {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.tooltip-content-flip > span {
	float: left;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tooltip-back {
	background: $color-pink;
	font-size: 12px;
	line-height: 14px;
	padding-top: 25px;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
}

.tooltip_flip:hover .tooltip-content-flip > span {
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
}

.tooltip-content-flip .tooltip-front::after,
.tooltip-content-flip .tooltip-back::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
}

.tooltip-content-flip .tooltip-front::after {
	right: 0;
	border-top: 10px solid #e64b50;
	border-left: 10px solid transparent;
}

.tooltip-content-flip .tooltip-back::after {
	left: 45%;
	border-top: 10px solid #e64b50;
	border-right: 10px solid transparent;
}

/* Position  breadcrumbs */
#position {
	background-color: #333;
	padding: 10px 0;
	font-size: 11px;
}

#position ul li:first-child {
	padding-left: 20px;
}

#position ul li:first-child:before {
	content: "\eaf4";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position: absolute;
	left: 0;
	top: 1px;
	color: #fff;
}

#position ul {
	margin: 0;
	padding: 0;
	color: #888;
}

#position ul li a {
	color: #fff;
	opacity: 0.7;
}

#position ul li a:hover {
	color: #fff;
	opacity: 1;
}

#position ul li {
	display: inline-block;
	padding-right: 8px;
	margin-right: 3px;
	position: relative;
}

#position ul li:after {
	content: "\e9ee";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position: absolute;
	right: 0;
	top: 2px;
}

#position ul li:last-child:after {
	content: '';
}

.laptop {
	margin: auto;
	margin-top: 20px;
}



/** Blockquote **/
blockquote.styled {
	font-family: "Gochi Hand", cursive;
	line-height: 1.42857143;
	font-size: 16px;
}

/** tabs **/
.tab-content {
	padding: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 25px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/** Img frame in general page **/
.img-fluid.styled {
	margin-top: 20px;
	border: 5px solid#fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

/**General icons block **/
.general_icons ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 30px 0 0 0;
}

.general_icons ul li {
	display: inline-block;
	text-align: center;
	padding: 0 20px 20px 0;
	white-space: nowrap;
}

.general_icons ul li:last-child {
	padding-right: 0;
}

.general_icons ul li i {
	font-size: 36px;
	display: block;
	margin-bottom: 10px;
}

