/*============================================================================================*/
/* 9. RESPONSIVE */
/*============================================================================================*/

/* MEDIA QUERIES size 768/1200px  */
@media (min-width: 768px) and (max-width: 1200px) {
	

}
/* END MEDIA QUERIES size 768/1200px  */

/* MEDIA QUERIES max-width 1024px  */
@media (max-width: 1024px) {
	
	.promo_full {
		background-attachment: scroll;
	}
}
/* END MEDIA QUERIES max-width 1024 px  */

/* LOGO H1 FOR RETINA DISPLAY  */
@media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 991px) {
	
}
/* END LOGO H1 FOR RETINA DISPLAY  */

/* MEDIA QUERIES max-width 991px  */
@media (max-width: 991px) {
	
	.parallax-content-1 div h1,
	#hero_2 .intro_title h3 {
		font-size: 42px;
	}
	
	.parallax-content-1 div h1:before,
	.parallax-content-1 div h1:after {
		width: 30px;
	}
	
}
/* END MEDIA QUERIES max-width 991px  */

/* MEDIA QUERIES size 769/979px  */
@media (min-width: 769px) and (max-width: 979px) {

}
/* END MEDIA QUERIES size 769/979px  */

/* MEDIA QUERIES max-width 768px - TABLETS  */
@media (max-width: 768px) {
	
	.parallax-content-1 div {
		padding: 0 10%;
		font-size: 14px;
	}
	
	.parallax-content-1 div h3 {
		font-size: 36px;
	}
}
/* END MEDIA QUERIES max-width 768px - TABLETS  */

/* MEDIA QUERIES max-width 767px - MOBILE LANDSCAPE  */
@media (max-width: 767px) {
	
	#top_line {	
		font-size: 16px;		
	}
	
	.main_title {
		font-size: 14px;
	}
	
	.main_title h2 {
		font-size: 24px;
	}

	.main_title h1 {
		font-size: 24px;
	}
	
	.main_title p {
		font-size: 16px
	}
	
	/* Margin tools */
	.margin_60 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.margin_30 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	/* Parallax bg */
	.parallax-content-1 {
		height: 240px;
	}
	
	.parallax-content-1 > div {
		padding: 0 5%;
		font-size: 12px;
		padding-top: 20px;
	}
	
	.parallax-content-1 div h1,
	.parallax-content-1 div h3 {
		font-size: 20px;
		padding-top: 15px;
	}
	
	/* Banners */
	#banner {
		padding: 20px;
	}
	
	.banner a {
		position: relative;
		top: 15px;
		right: 0;
		left: 0;
		margin-bottom: 20px;
	}
	
	.banner h4 {
		font-size: 22px;
	}
	
	/* tooltip */
	.strip_all_tour_list .tooltip-content-flip {
		width: 70px;
	}
	
	/* Single tour page */
	.parallax-content-2 {
		padding-bottom: 15px;
	}
	
	.parallax-content-2 div h1 {
		font-size: 22px;
	}
	
	.parallax-content-2 .rating {
		font-size: 12px;
		display: block;
	}
	
	#price_single_main,
	#price_single_main.hotel {
		font-size: 11px;
		text-align: left;
		padding-top: 0;
	}
	
	#price_single_main span {
		font-size: 20px;
	}
	
	#price_single_main sup {
		font-size: 20px;
		top: 0;
	}
	
	#hero_2 .intro_title h1 {
		font-size: 22px;
	}
	
	.laptop{
		display: none;
	}

}
/* END MEDIA QUERIES max-width 767px - MOBILE LANDSCAPE  */

/* MEDIA QUERIES max-width 480px - MOBILE PORTRAIT  */
@media (max-width: 480px) {
	
	.tooltip-item::after {
		width: 180px;
	}
	
	.tooltip-content {
		width: 180px;
		margin: 0 0 20px -90px;
	}

		
	.promo_full_wp div h3 {
		font-size: 36px;
	}
	
	.promo_full_wp div a i {
		font-size: 60px;
	}
	
}
/* END MEDIA QUERIES max-width 480px - MOBILE PORTRAIT  */