
body {background:#f9f9f9; line-height:22px; color:#444; font-weight: 400;}


.logo {
  position: absolute;  
  z-index: 1200;
  top: 0px;
  left: 25px;
}
.logo-text {
	color: #666;
	font-size: 20px;
	padding: 0 0 0 135px;
}
@media (max-width: 991px) {
	.logo {
		display: none;
	}
	.logo-text {
		display: none;
	}
}

/* top-line на мобильном */


/* Поля с ошибками*/
.field_with_errors {
  all: unset;        /* Обнуление стиля!!! */
  label { color: #B22222 };
  input, textarea { border-color: #B22222};
}

/* блок полей с ошибками - цены у Отеля */
.row_with_errors {
	label {
		color: #f11c1c;
		font-weight: 600;
	}
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {  
	padding: 5px 0;
  color: #888;
  font-size: 13px;
	/*background: rgba(0, 0, 0, 0) linear-gradient(to right, #da502c, #f48f24) no-repeat scroll center;*/
  /*background: rgba(0, 0, 0, 0) linear-gradient(to right, #185a9d, #43cea2) no-repeat scroll center;*/
	/*background: linear-gradient(#ededed, #fff, #fff, #ededed);*/
	background-color: #ededed;
	box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.35);
	a {
    color: #666;
    font-size: 13px;
  }
  a:hover {
    color: #444;
  }
}
.crumbs-short {
	padding-left: 130px;
}
@media (max-width: 991px) {
	.crumbs-short {
		padding-left: 0
	}
}

/* Анимация корзины. Выделение запомненного цветом */
@keyframes cart-highlight {
  0% { color: #ff4500; }
	50% { color: #ff4500; }
  100% { color: #777; }
}
/* Анимация корзины */
.cart-highlight i { animation: cart-highlight 1s; }


/* FOOTER */
footer {
  margin-top: 30px;
  padding: 30px 0;
  color: #fff;
  border-top: #ff4500 2px solid;
  background: linear-gradient(to right, #114982, #0473aa, #0473aa, #114982);

  ul {
    list-style: none;
    padding-left: 5px;    
  }

  a {
    color: #ffffff;
    font-size: 14px;
  }

  
}
/* sample text in footer */
.footer-text {
  color: #cecece;
  font-size: 12px;
}
/* END FOOTER */


/* LOGIN FORM */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* END LOGIN FORM */


/* TOWN HERO */
.town-bg-image {
  height: 200px;
  padding: 0px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;  
}
/* hero title and image */
.hero-title {
  padding-top: 7px;   
  height: 100%;
  background: linear-gradient(to top, transparent, transparent, #0473aa);
  h1 {
    font-style: italic;
    font-weight: bold;
    color: #fff;    
  }
}
/* END TOWN HERO */



