.cart {
 h3 {
   margin-top: 5px;
   color: #007fff;

   &:hover { color: #ff4500; }
 }
}

/* LOGIN FORM */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[id="session_email"] {
  height: 55px;
  margin-bottom: -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="session_password"] {
  height: 55px;
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* END LOGIN FORM */
