/* VARIABLES */
$color-pink: #e04f67;   /* #e04f67 - span ih headers h1,h2 */
$color-link: #e14d67;   /* #e14d67 - link */
$color-orange: #ff4500; /* #da502c (градиент кнопки)  #ff4500  (smart menu)  */
$color-yellow: #f48f24; /* #f48f24  - */
/* END VARIABLES */

.contact-info {
	/* max-width: 400px; */
	font-size: 14px;

	/*
	padding-top: 15px;	
	border-radius: 10px;
	border-top: 2px solid rgb(200, 200, 200);
	border-bottom: 2px solid rgb(200, 200, 200);
	
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.25); 
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.25);
	*/	
}
@media (max-width: 991px) {
	.contact-info {
		margin-top: 30px;
	}
}

.contact-photo {
	margin: auto;
	img { 
		object-fit: cover;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		display: block;
		margin-bottom: 5px;		
	}
	span {
		font-style: italic;
		font-size: 16px;
		font-weight: 600;
	}
}

/* Contact info */
.contact-number {
	padding: 1px 1px;
}
.contact-phone {
	a {
		font-weight: 600;
		font-size: 16px;
		
		/* color: $color-orange; */
	}
	/*
	a:hover {
		color: #cc2d05;
	}
	*/
}
.contact-addition {
	border-top: rgb(200, 200, 200) 1px solid;
	padding-top: 3px;
	font-weight: 600;
}

.contact-email {	
	border-top: 1px solid rgb(200, 200, 200);	 	
	margin-top: 5px;
	padding-top: 5px;
	padding-inline-start: 15px;
	a {
		color: #444;
	}
	a:hover {
		color: #ff4500;
	}
	span {
		display: block;
		height: 30px;
	}
}

.send-owner {
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #007fff;
	text-align: center;
	padding: 2px 1px;
	color: #777;	
	
	-webkit-box-shadow: 0px 0px 5px -2px rgba(0,127,255,0.5); 
  box-shadow: 0px 0px 5px -2px rgba(0,127,255,0.5);
	
	i {
		color: #007fff;
		font-size: 18px;
	}
	&:hover {
		background-color: #d8ebff;
	}
}

.add-cart {
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ff4500;
	text-align: center;
	padding: 2px 1px;
	color: #777;
	
	-webkit-box-shadow: 0px 0px 5px -2px rgba(255,69,0,0.5); 
  box-shadow: 0px 0px 5px -2px rgba(255,69,0,0.5);
	
	i {
		color: #ff4500;
		font-size: 18px;
	}
	&:hover {
		background-color: #ffeac9;
	}
}

.distance-sea {
	border-radius: 3px;
	text-align: center;
	padding: 5px 1px;
	color: #777;
	-webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.5);
	/*background: rgba(0, 0, 0, 0) linear-gradient(to right, $color-yellow, #fec771) no-repeat scroll center;*/
	/*background: rgba(0, 0, 0, 0) linear-gradient(to right, #0e64ac, #1e80c5) no-repeat scroll center;*/
	/*	background: rgba(0, 0, 0, 0) linear-gradient(to right, #a3a3a3, rgb(200, 200, 200), ) no-repeat scroll center;*/
	span {		
		font-size: 16px;
		font-weight: 600;
		color: #666;
	}
}

.cashback {	
	color: #ff4500;
	text-align: center;
	margin-top: 15px;
	padding: 5px 10px;
	-webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.25); 
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.25);

	/* 5% */
	span {
	color: #fff;
	font-weight: 600;
	background-color: #ff4500;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 10px;	
	}
}
.condition {	
	cursor: pointer;
	font-size: 12px;
	color: #fff;	
	text-align: center;
	padding: 2px 10px;
	display: block;
	/* background: rgba(0, 0, 0, 0) linear-gradient(to right, $color-orange, $color-yellow) no-repeat scroll center; */
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #a3a3a3, #dbdbdb, ) no-repeat scroll center;
	/*background: rgba(0, 0, 0, 0) linear-gradient(to right, #0e64ac, #1e80c5) no-repeat scroll center;*/

	&:hover {
		color: #ff4500;
	}
}

