/* VARIABLES */
$color-pink: #e04f67;   /* #e04f67 - span ih headers h1,h2 */
$color-link: #e14d67;   /* #e14d67 - link */
$color-orange: #ff4500; /* #da502c (градиент кнопки)  #ff4500  (smart menu)  */
$color-yellow: #f48f24; /* #f48f24  - */
/* END VARIABLES */

.hotels-show {
	h1 { font-weight: 600; font-size: 1.85rem; }
	h2 { font-weight: 600; font-size: 1.5rem; }
}

.room {
	background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.37); 
  box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.37);
	
	h4 { font-weight: 600;	color: rgb(41, 75, 121);	}
	
	ul {
		list-style:none;
		padding:0;
		padding-top: 5px;
		margin:0px 0 0px 0;
		display:table;
		border-top: 1px solid #999;
  	border-bottom: 1px solid #999;
		font-size:13px;
		color: #444;
		li {
			display:table-cell;
			width:1%;
			vertical-align:middle;
			text-align:center;
			padding: 0 10px 5px 10px;
			white-space:nowrap; }

		i {
			font-size: 20px;
			color: #333; }

		span {
			font-size: 20px;
			color: #222;	}

	}
}

.min-price {
	font-size: 22px;
	padding: 20px 20px 20px 0;

	span {
		font-weight: 600;
	}
}


.more-info {
	display: inline-block;
	/* text-align: left;
	min-width: 150px; */
	margin-bottom: 5px;
	/* border: 2px solid #ff4500; */
	outline: 1px solid #ff4500; /* Параметры рамки */
	color: #ff4500;
	padding: 5px 15px;
	border-radius: 4px;
	cursor: pointer;		
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	&:hover {
		outline: 1px solid #ff893b; /* Параметры рамки */
		color: #fff;
		background-color: #ff893b;
	}

	&.more-info-blue {		
		outline: 1px solid #007fff; /* Параметры рамки */
		color: #007fff;

		&:hover {
			outline: 1px solid #4088cf; /* Параметры рамки */
			color: #fff;
			background-color: #4088cf;
		}
	}
}

.hidden_content {
	font-size: 15px;
	padding-top: 10px;
	background-color: #fff;
  /*
	-webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.37); 
  box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.37);
	*/
	
}

/* Календарь цен */
.room-prices {  
  display: table;
  width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 3px;
  text-align: center;
  font-size: 14px;
}
.period {
  display: table-cell;
  vertical-align: top;
	padding: 0;
	background-color: rgb(225, 225, 225);
}
.period__date {
  background-color: #fec771;	
  font-weight: 600;
  padding: 0 5px;
}
/* Календарь цен ОБЩИЙ */
.price-calendar {
	table {
		width: 100%;
		text-align: center;
		font-size: 13px;

		th, td {
			border: 1px solid #999;
			
			padding: 2px 0;
		}

		th {	background-color: #fec771; color: #444; font-size: 12px;	}
	}
}

/* Tags */
.tags {	
	a {
		font-size: 14px;
		display: inline-block;
		border: #777 1px solid;
		border-radius: 4px;
    color: #777;   
	  padding: 5px 5px;
		margin-bottom: 5px;
	}
	a:hover {
		color: #444;
		background-color: rgb(221, 221, 221);
		-webkit-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.6);
	}
}


/* TABSET on hotelPage	*/
.tabset { /* custom */
	border-top: 1px solid #ccc;
	margin-top: 5px;
}
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 9px 9px;
  /*border: 1px solid transparent;
  border-bottom: 0;*/  
  cursor: pointer;
	color: #333;
	font-size: 16px;
	font-weight: 600;	
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 1px;
  width: 42px;
  height: 2px;
  background: #8d8d8d;
}


@media (max-width: 480px) {
	.tabset > label {
		position: relative;
		display: inline-block;
		padding: 5px 5px 7px;
		/*border: 1px solid transparent;
		border-bottom: 0;*/  
		cursor: pointer;
		color: #333;
		font-size: 12px;
		font-weight: 600;	
	}

	.tabset > label::after {
		content: "";
		position: absolute;
		left: 5px;
		bottom: 1px;
		width: 22px;
		height: 2px;
		background: #8d8d8d;
	}

}

.tabset > label:hover,
.tabset > input:focus + label {
	color: #06c;		
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding-top: 20px;
  /* border-top: 1px solid #ccc; */
}
/* END TABSET */

/* hotel description more */
.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 185px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f9f9f9 75%)
}
	// menu-hide
	.menu_block {
		overflow: hidden;
		position: relative;    
	}
	.menu_block.hide {
		height: 185px;
	}
	.menu_block.hide:after{
		content: "";
		display: block;
		height: 100px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f9f9f9 75%)
	}
		// addition-hide
		.addition_block {
			overflow: hidden;
			position: relative;    
		}
		.addition_block.hide {
			height: 185px;
		}
		.addition_block.hide:after{
			content: "";
			display: block;
			height: 100px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f9f9f9 75%)
		}
	
