/*--------  HOTEL details --------*/
	/* ROOMS */	
	.more-info {
		width: 100%;
		text-align: center;
		border: #999 1px solid;
		/*border-left: #999 1px solid;
		border-bottom: #999 1px solid;
		border-right: #999 1px solid;*/
		padding-bottom: 3px;
		background-color: #e1e1e1;
		margin: 0 15px;
		cursor: pointer;
	}
	.more-info:hover {
		background-color: rgb(209, 209, 209);
		/*position: relative;
		top: 1px;*/
	}
	.hidden_content {
		background-color: #fff;
		margin: 0 15px;
		padding-bottom: 20px;
		box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3)
	}
	.more_box {		
		padding: 0 25px;				
	}

	.columns_slot {  
		display: block;
		column-count: 2;
		-webkit-column-gap: 15px;
		grid-column-gap: 15px;
		column-gap: 15px;
	}
	.slot_title {
		font-weight: bold;
		font-size: 16px;
		margin-top: 16px;
		border-bottom: #cdcdcd 1px solid;
	}