.resources-title {
  h2 {
    display: inline;  
  } 
}

.point-cat {
  border-radius: 15px;
  border: 1px solid rgb(197, 197, 197);
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0 5px 30px 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);

  a {
    color: #444;
    &:hover { color: #222; }
  }

  img { margin-bottom: 10px; }

  span { font-weight: 600; }

  &:hover {
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.35);
    border: 1px solid #fff;
  }
}
.service-cats {
  a { color: #555; &:hover { color: #333; } }
}
.service-cat {
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #ededed;  

  &:hover {
    background-color: #f9f9f9;
  }
}
@media (max-width: 991px) {
  .service-cat {
    font-size: 14px;
  }
}

.hotel-cart__title {
  font-weight: 600;
  text-align: center;
  padding: 3px 3px 1px 3px;
  a {
    font-weight: 600;
  }
}
.hotel-card-body {
  span {
    font-weight: 700;
  }
}

.mini-desc {
  font-size: 14px;
  color: #444;
  &:hover { color: #222; }
}

/* типы жилья */
.hotel-cats {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    /* border-bottom: 1px solid #ddd; */
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 1px;
    a {
      position: relative;
      color: #777;
      display: block;
	    padding: 7px 10px;
    }

    @media (min-width: 992px) {
      a::before {
        font-family: "fontello";
        content: "\e89b";
        position: absolute;
        right: 15px;
        top: 6px;
      } 
    }
   
  }
  li.active {    
    a { color: #222; }
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);    
  }
  li:hover {
    a { color: #333; }
    /* background-color: #fff; */
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);    
  }
  
	
}

@media (max-width: 991px) {
  .hotel-cats {
    ul { display: inline;
      li {
        display: inline-block;
        border-radius: 4px;
        padding-left: 1px;
        margin-bottom: 1px;

        a {
          font-size: 12px;
          position: relative;
          color: #777;
          display: block;
          padding: 4px 5px;
        }
      }
    }
    margin-bottom: 20px;
  }
}

/* TOWN CATEGORIES bg-image */
.cat-bg-image {
  position: relative; 
}
.cat-bg-image:hover {
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.35);
}
.cat-bg-title {
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;  
  color: white;  
  position: absolute; 
  bottom: 0;   
  /* background: rgba(0, 0, 0, 0.6);   Black see-through */  
  background: linear-gradient(to bottom,transparent,rgb(26, 26, 26)); 
  padding: 40px 5px 5px 5px; /* если с градиентом то pt надо делать выше */
  text-align: center;
}
/* END TOWN CATEGORIES */

/* links in mobile menu */
.menu-link {
  color: #666;
  font-size: 15px;
  font-weight: 600;
}

 

