.hotel-cart__title {
  font-weight: 600;
  text-align: center;
  padding: 3px 3px 1px 3px;
  a {
    font-weight: 600;
  }
}
.hotel-card-body {
  span {
    font-weight: 700;
  }
}

.mini-desc {
  font-size: 14px;
  color: #444;
  &:hover { color: #222; }
}

/* типы жилья */
.hotel-cats {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    /* border-bottom: 1px solid #ddd; */
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 1px;
    a {
      position: relative;
      color: #777;
      display: block;
	    padding: 7px 10px;
    }

    @media (min-width: 992px) {
      a::before {
        font-family: "fontello";
        content: "\e89b";
        position: absolute;
        right: 15px;
        top: 6px;
      } 
    }
   
  }
  li.active {
    a { color: #222; }
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);
  }
  li:hover {
    a { color: #222; }
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);
  }
  
	
}

@media (max-width: 991px) {
  .hotel-cats {
    ul { display: inline;
      li {
        display: inline-block;
        border-radius: 4px;
        padding-left: 1px;
        margin-bottom: 1px;

        a {
          font-size: 12px;
          position: relative;
          color: #777;
          display: block;
          padding: 4px 5px;
        }
      }
    }
    margin-bottom: 20px;
  }
}

