<% provide(:title, 'Все гостиницы') %>

<div class="container">

<%= link_to "Новоё жильё", new_hotel_path, class: 'btn btn-primary btn-sm' %>

<div class='row'> 
  <div class='col-md-9'>
    <h1>Все гостиницы</h1>   
    <div class="row">
      Здесь - вывод всех отелей для админа
    </div>
  </div>
  <div class='col-md-3'>
    Left sidebar
  </div>
</div>

</div>